circle{
    fill:blue
}

circle:nth-child(3){
    fill: aquamarine;
}


circle:hover{
    fill: rgb(255, 87, 199);
}

svg {
    cursor: url("https://img.icons8.com/nolan/32/hand-cursor.png"), auto;

   }

p {
    font-size: 1.2;
    height: 1.4;
    padding:5px
}

.tehdäänPallo1 {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 149);
    border-radius: 50%;
}

.tehdäänPallo1:hover {
    
    background-color: rgb(0, 225, 255);
}

.tehdäänPallo2 {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 149);
    border-radius: 50%;
    left: 5px;
}

.tehdäänPallo2:hover {
    
    background-color: rgb(0, 225, 255);
}